<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trabalhois1cinematordao.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trabalhois1cinematordao.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TrabalhoIS1CinemaTordao</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TrabalhoIS1CinemaTordao</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Trabalho_IS1Entities4" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Trabalho_IS.Trabalho_IS1Entities4, Trabalho_IS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Trabalho_IS1Entities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:reserva.database.windows.net,1433;Initial Catalog=&quot;Trabalho IS1&quot;;Persist Security Info=True;User ID=macoas;Password=#123456A;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Trabalho_IS1Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IS1.csdl|res://*/IS1.ssdl|res://*/IS1.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:reserva.database.windows.net,1433;initial catalog=&quot;Trabalho IS1&quot;;persist security info=True;user id=macoas;password=#123456A;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Trabalho_IS1Entities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:reserva.database.windows.net,1433;Initial Catalog=&quot;Trabalho IS1&quot;;Persist Security Info=True;User ID=macoas;Password=#123456A;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Trabalho_IS1Entities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IS1.csdl|res://*/IS1.ssdl|res://*/IS1.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:reserva.database.windows.net,1433;initial catalog=&quot;Trabalho IS1&quot;;persist security info=True;user id=macoas;password=#123456A;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Trabalho_IS1Entities3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:reserva.database.windows.net,1433;Initial Catalog=&quot;Trabalho IS1&quot;;Persist Security Info=True;User ID=macoas;Password=#123456A;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Trabalho_IS1Entities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IS1.csdl|res://*/IS1.ssdl|res://*/IS1.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:reserva.database.windows.net,1433;initial catalog=&quot;Trabalho IS1&quot;;persist security info=True;user id=macoas;password=#123456A;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Trabalho_IS1Entities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:reserva.database.windows.net,1433;Initial Catalog=&quot;Trabalho IS1&quot;;Persist Security Info=True;User ID=macoas;Password=#123456A;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Trabalho_IS1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/_Trab_IS1.csdl|res://*/_Trab_IS1.ssdl|res://*/_Trab_IS1.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:reserva.database.windows.net,1433;initial catalog=&quot;Trabalho IS1&quot;;persist security info=True;user id=macoas;password=#123456A;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Trabalho_IS1Entities4-Web.config Connection String" />
  </ItemGroup>
</Project>